.form-login {
    min-width: 100vw;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        .mat-form-field {
            width: 60%;
        }
    }
    button {
        margin: 10px;
        width: 60%;
    }
}