.mat-toolbar-row {
    background-color: #d55845;
    display: flex;
    justify-content: space-between;
    .titulo {
        cursor: pointer;
    }
    .mat-form-field {
        margin-right: 10px;
        font-size: 15px;
        .span {
            .sair {
                right: 0;
            }
        }
    }
}