<form class="input-comentario">
    <mat-form-field class="postar-publicacao-input">
        <input matInput placeholder="Insira aqui sua publicação" [formControl]="publicacaoFormControl">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="publicar()">Publicar</button>
</form>

<mat-card class="publication mat-card-publicacao" *ngFor="let publicacao of publicacoes">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"><img class="img-card" [src]="publicacao.usuario.foto" alt=""></div>
        <mat-card-title>{{ publicacao.usuario.nome }}</mat-card-title>
        <mat-card-subtitle>{{ publicacao.hora | date }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{ publicacao.conteudo }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button class="btn_actions_post" (click)="curtir(publicacao)"><mat-icon class="example-icon">thumb_up</mat-icon> {{ publicacao.curtidas }}</button>
        <button mat-button class="btn_actions_post" (click)="openComentario(publicacao)"><mat-icon class="example-icon">chat</mat-icon></button>
    </mat-card-actions>
</mat-card>