.mat-sidenav-container {
    width: 100%;
    min-height: 100vh;
    .mat-sidenav {
        // width: 15vw;
        background-color: #efefef;
        border: none;
        .mat-card-image {
            width: 15vw;
        }
        .mat-card-title {
            font-weight: bold;
        }
    }
    .mat-sidenav-content {
        display: flex;
        justify-content: center;
        background-color: #efefef;
        padding: 0 20px 0 20px;
        overflow-y: hidden;
        min-height: 100vh;
    }
}