<div>
    <form class="form-cadastro">
        <mat-form-field>
            <input matInput class="input-nome" placeholder="Nome Completo" required [formControl]="nomeFormControl">
            <mat-error *ngIf="nomeFormControl.hasError('required')">
                Nome é <strong>Obrigatório</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput class="input-github" placeholder="Login no GitHub" [formControl]="githubFormControl">
        </mat-form-field>

        <mat-form-field>
            <input matInput class="input-email" placeholder="Email" required [formControl]="emailFormControl">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Por favor, digite um e-mail válido
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email é <strong>Obrigatório</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput class="input-senha" type="password" required placeholder="Senha" [formControl]="senhaFormControl">
            <mat-error *ngIf="senhaFormControl.hasError('required')">
                Senha é <strong>obrigatória</strong>
            </mat-error>
        </mat-form-field>
        <button mat-raised-button class="btn-cadastrar" color="primary" (click)="cadastrar()">Cadastre-se</button>
        <button mat-raised-button (click)="cancelar()">Cancelar</button>
    </form>
</div>