<div>
    <mat-card class="publicacao mat-card-publicacao">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"><img class="img-card" [src]="publicacao.usuario.foto" alt=""></div>
            <mat-card-title>{{ publicacao.usuario.nome }}</mat-card-title>
            <mat-card-subtitle>{{ publicacao.hora | date }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{ publicacao.conteudo }}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button class="btn_actions_post"><mat-icon class="example-icon">thumb_up</mat-icon> {{ publicacao.curtidas }}</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="comentario mat-card-publicacao" *ngFor="let comentario of publicacao.comentarios">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"><img class="img-card" [src]="comentario.usuario.foto" alt=""></div>
            <mat-card-title>{{ comentario.usuario.nome }}</mat-card-title>
            <mat-card-subtitle>{{ comentario.data | date }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{ comentario.conteudo }}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button class="btn_actions_post" (click)="curtir(comentario)"><mat-icon class="example-icon">thumb_up</mat-icon> {{ comentario.curtidas }}</button>
        </mat-card-actions>
    </mat-card>
    <form class="input-comentario">
        <mat-form-field>
            <input matInput placeholder="Insira aqui o seu comentário" [formControl]="comentarioFormControl">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="comentar()">Comentar</button>
    </form>
</div>