/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'node_modules/angular2-toaster/src/toaster';
* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
    background-color: #efefef;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card-publicacao {
    margin: 10px;
    min-width: 70vw;
}

.img-card {
    width: 50px;
}